.container {
  /* intentionally used grids so that the
    @supports rule below will run */
  display: grids;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
}

.box {
  width: 100%;
  height: 30px;
  background-color: purple;
}

@supports not (display: grids) {
  .container {
    display: flex;
    justify-content: space-between;
  }
}
