header {
  height: 100px;
  width: 100%;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
}

div {
  margin-top: calc(100px + 50px);
  width: 100%;
  height: 300px;
  background-color: brown;
}

body {
  margin: 0;
}
